.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 4px 0 var(--black-p-50);
    transition: 180ms box-shadow ease-in-out;
}

.button:hover{
    box-shadow: 0px 0px 8px 0px var(--black-p-50);

}

.button-main, .button-secondary {
    width: 200px;
    height: 45px;
}

.button-main-green {
    color: var(--text-light-color);
    background-color: var(--jungle-green);
}

.button-main-yellow {
    color: var(--text-light-color);
    background-color: var(--rob-roy);
}

.button-secondary-green {
    color: var(--jungle-green);
    border: solid 1px var(--jungle-green);
}

.button-secondary-yellow {
    color: var(--rob-roy);
}