.home-container header .header-buttons {
    display: flex;
    column-gap: 15px;
}

.home-container .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .home-container header{
        text-align: center;
    }
    .home-container header .header-buttons {
        justify-content: center;
    }

}